*{
    font-family: sans-serif;
}

/* Components */
.filled-button {
    background-color: rgb(54, 54, 235);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid blue;
    border-radius: 10px;
}
span.purple-text {
    color: rgb(54, 54, 235);
}


/* Navbar */
.nawbar{
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    justify-content: space-around;
    align-items: center;
}
.navbar-logo{
    display: flex;
    flex-direction: row;
}
.logo{
    width: 21px;
    height: 31px;
    margin-top: 23px;
    margin-left: 80px;
    margin-right: 10px;
}
.navbar-links{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.navbar-links .navbar-link {
    list-style: none;
}
.navbar-links .navbar-link a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
/* x Navbar */
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.main .main-left-part {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.main .main-left-part h1.main-left-part-title {
    font-size: 40px;
}
.main .main-left-part p {
    font-size: 20px;
}
.partners{
    margin-top: 150px;
}
.partners .partners-title h5{
    text-align: center;
}
.partners-logos{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.partners .partners-logos .partner{
    margin-left: 50px;
}

.explore-service{
    margin-top: 200px;
}
.explore-service .service-title{
    text-align: center;
    margin-bottom: 50px;
}

.explore-service  .our-services{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.explore-service .button{
    margin-left: 650px;
    margin-top: 50px;
}
.explore-service .button .explore-button{
    background-color: rgb(54, 54, 235);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid blue;
    border-radius: 10px;
    
}
.explore-service .service-title h3{
    color: rgb(88, 100, 110);
}

.comment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
}
.comment-img{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.comment-text{
    color: #47536B;
    font-family: Plus Jakarta Sans;
}
.our-blogs{
    margin-top: 120px;
}
.our-blogs-h1{
    color: #0F0049;
    font-size: 40px;
    padding-left: 110px;
}
.blogs{
    display: flex;
    flex-direction: row;
    justify-content:center;
    column-gap: 20px;
}

.our-blogs .about-blogs{
    display: flex;
    flex-direction: row;
}
.our-blogs .about-blogs .about-block-1{
    background-color: white;
    color: black;
    width: 280px;
    height: 220px;
    margin-top: -100px;
    margin-left: 225.5px;
    padding: 20px;
}

.our-blogs .about-blogs .about-block-2{
    background-color: white;
    color: black;
    width: 260px;
    height: 220px;
    margin-top: -100px;
    margin-left: 85px;
    padding: 20px;
}

.our-blogs .about-blogs .about-block-1 h6{
    color: #47536B;
}
.our-blogs .about-blogs .about-block-2 h6{
    color: #47536B;
}
.our-blogs .posts-button{
    display: inline-flex;
    height: 48px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #6153CD;
    color: white;
    margin-left: 700px;
}