*{
    font-family: sans-serif;
}

/* Navbar */
.nawbar{
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    justify-content: space-around;
    align-items: center;
}
.navbar-logo{
    display: flex;
    flex-direction: row;
}
.logo{
    width: 21px;
    height: 31px;
    margin-top: 23px;
    margin-left: 80px;
    margin-right: 10px;
}
.navbar-links{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.navbar-links .navbar-link {
    list-style: none;
}
.navbar-links .navbar-link a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.projects{
    width: 47px;
    height: 20px;
    margin-top: 35px;
    margin-left: 60px;
    text-decoration:none;
	color:black;
}
.get-in-touch{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 60px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: rgb(54, 54, 235);
    color: white;
}
.brand-img{
    width: 480px;
    height: 150px;
    margin-left: 80px;
    margin-top: 150px;
}
.text{
    color: rgb(106, 61, 197);
}
#building-h1{
    color: rgb(35, 48, 68);
    font-size: 4.0em;
    padding-left: 160px;
}
.building{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.main{
    display: flex;
    flex-direction: row;
}

.more{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 160px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: rgb(54, 54, 235);
    color: white;
}



